*
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    &:before
    &:after
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box

html
    background: rgb(255, 226, 185)
    font-size: 62.5%
    -webkit-overflow-scrolling: touch
    -webkit-tap-highlight-color: #f3f5f6
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%

body
    font-family: serif
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(255, 226, 185)
    font-size: 16px;
    line-height: 1.5;
    color: black;
a
    color: black
    text-decoration: none
    &:hover
        text-decoration: underline

ul
    margin: 0
    padding: 0
    list-style: none
    & li
        list-style: none
        padding: 5px 0
        clerfix()

img
.wp-caption
    display: block
    max-width: 100% !important
    height: auto !important
    margin: 0 auto

.header
    width: 100%
    margin-bottom: 3em
    padding: 1em
    background-color: #feaa7f
    border-top: 10px solid rgb(165, 83, 41)

.img-container
    position: relative
    text-align: center

.list-item
    min-height: 75px
    margin: 0 0 30px 0
    padding: 1em
    background-color: rgb(255, 191, 159)
    a
        color: #1b2157

.text-container
     h3
        margin-top: 0px;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid #1b2157
     p
        margin: .35em 0

.logo-container
    position: relative
    z-index: 30
    color: #fff;
    width: 100%
    margin: 0 auto
    &:before
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        content: ""
        background-color: #1b2157
        z-index: 2
    &:after
        position: absolute
        top: 0
        left: 0
        content: ""
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 38px 38px 0 0;
        border-color: #e40136 transparent transparent transparent;
        z-index: 3
    h1
        margin: 0
        font-size: 2.8em
        line-height: 1
    a
        color: #fff
        &:hover
            text-decoration: none
    .logo
        position: relative
        z-index: 4
        padding: 5px 10px

.main-content
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1em 3.125em 1em;

.claim
    font-family: 'League Gothic'
    color: #1b2157
    text-align: center
    margin-bottom: 0

.button
    font-family: 'League Gothic'
    font-size: 1.3em
    padding: .5em
    background-color: #1b2157
    color: rgb(255, 191, 159)

.ajax-loader
    @extend .button
    padding-right: 2em
    background-image: url('../img/ajax-loader.gif')
    background-repeat: no-repeat
    background-position: 98% 50%

.more-button
    @extend .button
    cursor: pointer

@media screen and (min-width: 1024px)
    .logo-container
        display: inline-block
        vertical-align: top
        margin: 0
        width: 305px
        h1
            font-size: 3em

    .claim
        display: inline-block
        vertical-align: bottom
        margin: 35px 0 0 15px
        text-align: left
