extends layout

block header
    header.header
        div.logo-container
            h1.logo
                a(href="/") Scaling Octo Shame
        h3.claim
            | I'm responsable for the code, not for the content...

block content
    div(class="main-content", ng-view)