!!! 5
html.no-js(lang='en', ng-app="SOSApp", ng-controller="MainCtrl")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title(ng-bind-html-unsafe="page.title()")
        meta(name="description", content=description)
        meta(name="author", content=author)
        meta(name="viewport", content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/app/styles/output.css')
    body(ng-cloak)
        block header

        block content

        block footer
            footer

        script(src='/app/scripts/build.min.js')