
/* line 1 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 14 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 2 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 2 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 154 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 154 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 2 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 25 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 5 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 557 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 557 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\node\mattro\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 1 : C:\node\mattro\stylus\mixins.styl */

/* line 1 : C:\node\mattro\stylus\common.styl */
 {
*
  *: before;
}
*

/* line 3 : C:\node\mattro\stylus\common.styl */
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8 : C:\node\mattro\stylus\common.styl */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 12 : C:\node\mattro\stylus\common.styl */
ul li {
  list-style: none;
  padding: 5px 0;
}

/* line 17 : C:\node\mattro\stylus\common.styl */
.header {
  width: 100%;
  padding: 2em 0;
  background-color: #feaa7f;
}

/* line 22 : C:\node\mattro\stylus\common.styl */
.img-container {
  position: relative;
  float: left;
  width: 125px;
  height: 75px;
  overflow: hidden;
}

/* line 29 : C:\node\mattro\stylus\common.styl */
.list-item {
  min-height: 75px;
}

/* line 31 : C:\node\mattro\stylus\common.styl */
.list-item h3 {
  margin: 0 0 0 140px;
}

/* line 34 : C:\node\mattro\stylus\common.styl */
.logo-container {
  position: relative;
  z-index: 30;
  color: #fff;
  width: 130px;
  margin: 0 auto;
}

/* line 40 : C:\node\mattro\stylus\common.styl */
.logo-container:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #1b2157;
  z-index: 2;
}

/* line 49 : C:\node\mattro\stylus\common.styl */
.logo-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 38px 38px 0 0;
  border-color: #e40136 transparent transparent transparent;
  z-index: 3;
}

/* line 60 : C:\node\mattro\stylus\common.styl */
.logo-container .logo {
  position: relative;
  z-index: 4;
  padding: 5px 10px;
}

/* line 65 : C:\node\mattro\stylus\common.styl */
.main-content {
  padding: 30px 10px;
}

/* line 68 : C:\node\mattro\stylus\common.styl */
.claim {
  font-family: 'League Gothic';
  text-align: center;
  color: #1b2157;
}

/* line 1 : C:\node\mattro\stylus\typography.styl */
@font-face {
  font-family: 'League Gothic';
  src: url("../fonts/league-gothic/leaguegothic-regular-webfont.eot");
  src: url("../fonts/league-gothic/leaguegothic-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/league-gothic/leaguegothic-regular-webfont.woff") format('woff'), url("../fonts/league-gothic/leaguegothic-regular-webfont.ttf") format('truetype'), url("../fonts/league-gothic/leaguegothic-regular-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 10 : C:\node\mattro\stylus\typography.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'League Gothic';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2;
}

/* line 22 : C:\node\mattro\stylus\typography.styl */
h1 {
  font-size: 3em;
}

/* line 25 : C:\node\mattro\stylus\typography.styl */
h2 {
  font-size: 2em;
}

/* line 28 : C:\node\mattro\stylus\typography.styl */
h3 {
  font-size: 1.5em;
}
